/* This is an example CSS file, feel free to remove/edit it anytime */
body {
  color: black;
}
.uiContainer {
  box-shadow: 10em 5em gold;
  width: 100vh;
  height: 100vh;
  border-radius: 5px;
}
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  text-align: center;
}

.footer a {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

.footer span {
  font-size: 14px;
}
